@model EstateExplore.Models.Property

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PropertyName" class="control-label"></label>
                <input asp-for="PropertyName" class="form-control" />
                <span asp-validation-for="PropertyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Owner" class="control-label"></label>
                <input asp-for="Owner" class="form-control" />
                <span asp-validation-for="Owner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PopertyLocation" class="control-label"></label>
                <input asp-for="PopertyLocation" class="form-control" />
                <span asp-validation-for="PopertyLocation" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PropertyImage" class="form-label">Property Image</label>
				<input asp-for="PropertyImage" class="form-control" type="file" id="formfile" 
                onchange="document.getElementById('PropertyImagePrev').src=window.URL.createObjectURL(this.files[0])">
                <span asp-validation-for="PropertyImage" class="text-danger"></span>
                <img id="PropertyImagePrev" src="../images/noimage.png" alt="Property Image" width="200"
			    height="200" style="border:1px; margin-top:20px; margin-left:120px;" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
